.top-nav{
    background-image: url('https://images.sugarcosmetics.com/Wtp/0ccd669b-57a7-4903-b68e-bb2d998dba00.jpg');
    background-size: cover;
    display: flex;
    justify-content: space-between;
    color: white;
    
}

.carousel{
    height: 20px;
    width: auto;
    overflow: hidden;
    position: relative;

    /* border: 1px solid black; */
   
}

.carousel-track{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 500px;
    height: auto;
    animation: scroll 25s linear infinite;
}

.carousel-track a {
    height: 20px; 
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.2s ease-in-out; 
    animation: fade 10s linear infinite; 
  }

  .carousel-track a:nth-child(1) {
    animation-delay: 0s;
  }
  
  .carousel-track a:nth-child(2) {
    animation-delay: 5s;
  }
  
  .carousel-track a:nth-child(3) {
    animation-delay: 10s;
  }
  
  .carousel-track a:nth-child(4) {
    animation-delay: 15s;
  }
  
  .carousel-track a:nth-child(5) {
    animation-delay: 20s;
  }

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100%);
    }
}

@keyframes fade {
    0%, 100% {
      opacity: 0;
      visibility: hidden;
    }
    10%, 90% {
      opacity: 1;
      visibility: visible;
    }
  }


  .searchbar{
  
    background-color: #212121;
    border: 1px soild white;
 
  }

  .wrap-input{
    display: flex;
    justify-content: space-between;
    width:45rem;
    border: 1px solid grey;
    background-color: #212121;
    border-radius: 10px;
    overflow: hidden;
  }