.top-nav {
  background-image: url('https://images.sugarcosmetics.com/Wtp/0ccd669b-57a7-4903-b68e-bb2d998dba00.jpg');
  background-size: cover;
  display: flex;
  justify-content: space-between;
  color: white;
  position: sticky;  /* This makes it sticky */
  top: 0;  /* Stick to the top of the screen */
  z-index: 10;  /* Ensure it is above other content */
  width: 100%;
  padding: 0;  /* Optional: Ensure no margin/padding issue */
}

.sticky{
  position: sticky;  /* This makes it sticky */
  top: 0;  /* Stick to the top of the screen */
  z-index: 10;  /* Ensure it is above other content */
  width: 100%;
  padding: 0;  /* Optional: Ensure no margin/padding issue */
}


.carousel{
    height: 20px;
    width: auto;
    overflow: hidden;
    position: relative;

    /* border: 1px solid black; */
   
}

.carousel-track{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 500px;
    height: auto;
    animation: scroll 25s linear infinite;
}

.carousel-track a {
    height: 20px; 
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.2s ease-in-out; 
    animation: fade 10s linear infinite; 
  }

  .carousel-track a:nth-child(1) {
    animation-delay: 0s;
  }
  
  .carousel-track a:nth-child(2) {
    animation-delay: 5s;
  }
  
  .carousel-track a:nth-child(3) {
    animation-delay: 10s;
  }
  
  .carousel-track a:nth-child(4) {
    animation-delay: 15s;
  }
  
  .carousel-track a:nth-child(5) {
    animation-delay: 20s;
  }

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100%);
    }
}

@keyframes fade {
    0%, 100% {
      opacity: 0;
      visibility: hidden;
    }
    10%, 90% {
      opacity: 1;
      visibility: visible;
    }
  }


  .searchbar{
  
    background-color: #212121;
    border: 1px soild white;
 
  }

  .wrap-input{
    display: flex;
    justify-content: space-between;
    width:45rem;
    border: 1px solid grey;
    background-color: #212121;
    border-radius: 10px;
    overflow: hidden;
  }

  .logout{
    position: absolute;
    background-color: white;
    right: 11%;
    top: 14%;
    padding: 0.5%;
    padding-right: 3%;
    padding-left: 1.2%;
    color: rgb(59, 59, 59);
    border-radius: 10px;
    
  }

  .cartno{
    position: absolute;
    top: 0.3%;
    right: -50%;
    background-color: rgb(157, 26, 70);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: small;
  }

  .navbar {
    position: sticky;
    top: 0;
    z-index: 1000;  /* Ensure it's above other elements */
  }